---
layout: default
title: My Blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
<!--
---
author_profile: true
classes: wide
---
<h1>About</h1>
<p>
I am Prateek Bhagdev. I come from Shahdol, a small town of Madhya Pradesh, India. I completed my bachelors degree in Computer Science & Engineering & Yeah... I dropped out of Electronics & Communication Engineering prior to that. I graduated as PGD in Advance Computing from Centre for Development of Advanced Computing & PGD in Information Technology Management from Symbiosis Centre for Management & Human Resource Development.
</p>
<p>
I work in the fields of Product Management, Design, Technology, HCI & Human Factors. I believe there is lot that we can apply & connect with these fields into this huge universe & vice versa. I do what I love and I love what I do. I love Thinking, Observing & working on IDEA’s whenever have one. I believe in creating opportunities and possibilities in the world by amalgamation of technology and creativity.
</p>
<p>
I love to create amazing products with emphasis on design & technology & also possess keen interest for Gesture Interfaces, Touchable Technology and Mobility. My key skills include product strategy & roadmap, user profiling, persona identification, user journeys, product/business objectives, ideation, product prototyping & testing, research, analysis, designing, building & commercialising of products & solutions for different platforms such as Zero Interfaces, Wearables, Mobile Devices & Desktop etc.
</p>
<p>
Bragging rights: I’ve been almost shot at while writing code logic in a 120-degree tent, I’ve made ice-creams out of Water Only, and I’m a pretty good cook :smile:
</p>
-->
